.file-info {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 0.9em;
    height: 30px; /* 固定の高さを設定 */
}

.size-input-container {
    margin-right: 10px;
    white-space: nowrap;
}

.full-path {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

#size-input {
    width: 40px;
}

.content-container {
    width: 100%;
    overflow-x: auto;
}

.content {
    width: 100%;
    height: auto;
    display: block;
}